@import "constants";

#faqs {
    margin: $page-margin;
    border-radius: 20px;
}

.faq {
    background-color: $darker;
    cursor: pointer;

    .card-body {
        background-color: $dark;
        cursor: default;
    }
}

#espn-league-id-img {
    background-image: url(../images/espn_league_id.png);
}
