@import "constants";

.league-analysis-page {
    width: calc(100% - #{$side-nav-width} - #{$page-margin} - #{$page-margin});
    display: inline-block;
    margin: $page-margin;
    margin-bottom: 0;
}

.win-probs-graph {
    margin-bottom: 20px;
}

.page-title {
    width: 100%;

    h2 {
        display: inline-block;
    }

    .reset-league-btn {
        float: right;
    }
}

.loading-message-box {
    margin: auto;
    display: block;
    padding-top: 100px;
    width: 50%;
}
